.page {
    width: 80%;
    height: 100%;

    margin: 20px;
    margin-left: 0;

    border-radius: 20px;
    box-shadow: 0px 0px 21px 0px rgba(34, 60, 80, 0.2);
    transition: all .3s;

    @media (max-width: 500px) {
        width: 100%;
        margin: 0;
        margin-top: 20px;
        box-shadow: none;
    }

    & .page_content {
        padding: 10px;

        @media (max-width: 500px) {
            width: 95%;
        }
    }
}
.active {
    background-color: rgb(70, 70, 76);
    color: rgb(227, 217, 217);


    @media (max-width: 500px) {
        background-color: inherit;
    }
}

