.spinner {
    position: relative;
    padding: 20px;

    
    border-bottom: 20px solid rgb(255, 104, 117);
    border-left: 20px solid rgb(255, 104, 117);
    border-top: 20px solid rgb(255, 104, 117);
    border-right: 20px solid rgb(255, 255, 255);
    border-radius: 50%;

    background: none;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}