.dashboard_page {
    & .dashboard_page_header {
        & .header_description {
            margin-left: 10px;
        }
    }

    & .dashboard_page_workspace {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}