.projects_page {
    & .projects_page_header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .header_btn {
            cursor: pointer;
            margin-right: 5px;
            font-size: 30px;
            color: rgb(255, 104, 117);
        }

    }
    & .projects_page_content {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

    }
}