.projects_page {
    & .projects_page_header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .header_btn {
            cursor: pointer;
            margin-right: 20px;
            font-size: 30px;
            color: rgb(255, 104, 117);
        }

        & .projects_page_content {
            width: 10%;
            display: flex;
            flex-direction: column;

            margin: 10px;
        }
    }
}