.input_field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(249, 234, 237);
    padding: 20px;
    border-radius: 10px;

    & .input_field_title {
        font-size: 18px;
        color: rgb(255, 151, 160);
    }

    .input_container {

        @media (max-width: 500px) {
            width: 100%;
        }

        & input {
            width: 50%;
            padding: 10px;
            border: none {
                top-left-radius: 10px;
                bottom-left-radius: 10px,
            }
            font-size: 16px;
            outline: none;
            color: rgb(162, 150, 150);
            
        }

        & button {
            cursor: pointer;
            padding: 10px;
            font-size: 16px;
            border: none {
                top-right-radius: 10px;
                bottom-right-radius: 10px
            }
            background-color: rgb(255, 151, 160);
            color: white;
        }
    }
}