@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    color: gray;
}
.App {
    width: 100vw;
    height: 100vh;

    display: flex;
    
}
.App_content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}