.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 60%;
    height: max-content;

    border-radius: 15px;
    padding: 15px;
    // color: rgb(143, 132, 132);
    color: inherit;
    background-color: inherit;

    @media (max-width: 500px) {
        width: 90%;
    }

    & .title {
        margin-bottom: 20px;
        font: {
            size: 25px ;
            weight: 500
        }
    }
    & .input_form {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 10px;

        & input {
            border: none;
            border-bottom: 1px solid gray;
            font-size: 18px;
            padding: 6px;
            outline: none;
            background: none;
            color: inherit;
        }
        & .input_load_files {
            display: none;
        }
    }

    & .btn_auth {
        cursor: pointer;
        padding: 10px;
        border: none {
            radius: 10px
        }
        background: linear-gradient(45deg, rgb(255, 104, 117), rgb(255, 139, 104));
        color: white;
    }
    & .change_form {
        & button {
            cursor: pointer;
            font-size: 15px;
            border: none;
            background: none;
            color: rgb(255, 104, 117);
        }
    }
    
    & .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    @media (max-width: max-content) {
        font-size: 23px;
        width: 70%;
        height: 40%;
    }
}
.error {
    color: gray;
    margin-bottom: 10px;
}
.active {
    color: inherit;
}
.default {
    color: black;
}